.weatherCard {
    margin-left: 3rem;
    margin-top: 2rem;
}

.links {
    height: 38px;
    display: inline-block;
    margin: 1rem;
}

div {
    display: block;
}

.weatherCard-body {
    border: 1px solid #d88549;
    border-radius: 5px;
    padding: 17px;
    background-color: #d88549;

}

.weatherCard-summary {
    margin-top: -3.5rem;
    margin-left: 4.5rem;
    font-size: 35px;
    align-items: center;
    direction: ltr;
    display: flex;
}

.weatherCard-info {
    margin-top: -3.5rem;
    align-items: center;
    margin-left: 15rem;
}

.weatherCard-info-1 {
    align-items: center;
    margin-left: 15rem;
}

img {
    margin-right: 2rem;
}

.info-text {
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    margin-top: 0.5rem;
    margin-left: auto;

}

.moreInfo {
    margin-left: 1rem;
}