/* You can add global styles to this file, and also import other style files */
body {
    background: #25528f;
}

.form-check-input:checked {
    background-color: #0dcaf0;
    border-color: #0dcaf0;
}
